.tripForm{
    display:flex;
    justify-content:center;
    flex-direction: column;
    width:35%;
    margin:0 auto;
    margin-top:100px;
    background-color: rgb(73, 120, 129);
    padding-left:100px;
    padding-right:50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius:40px;
    font-weight:bold;
    color:black;
  }
  .form-btn{
    background-color:rgb(148, 171, 180);
    justify-content:center;
    width:20%;
  }